* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  line-height: 1.6;
  height: 100%;
  width: 100vw;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding: 0;
  margin: 0;
}
